@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu', monospace;
    margin: 2%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 12.5%;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.timedef {
    text-align: center;
/*     padding-right: 0.4em; */
}

.timeval {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: larger;
}

#fuzzball {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    max-width: 500px;
}

#status {
    text-align: center;
}

#doortable {
    overflow-x: auto;
}
